{{define "title"}}
  IDAN Blog | {{index . "name"}}
{{end}}

{{define "body"}}
<section class="bg-1 h-900x main-slider pos relative">
  <div class="triangle-up pos-bottom"></div>
  <div class="container h-100">
    <div class="dplay-tbl">
      <div class="dplay-tbl-cell center-text color-white">
        <h5><b>TERBAIK DI INDONESIA</b></h5>
        <h1 class="mt-30 mb-15">PIZZA & PASTA</h1>
        <h5><a href="#" class="btn-primaryc plr-25"><b>Lihat Menu Hari Ini</b></a></h5>
      </div>
    </div>
  </div>
</section>

<section class="story-area left-text center-sm-text pos-relative">
  <div class="abs-tbl bg-2 w-20 z--1 dplay-md-none"></div>
  <div class="abs-tbr bg-3 w-20 z--1 dplay-md-none"></div>
  <div class="container">
    <div class="heading">
      <img class="heading-img" src="static/images/heading_logo.png" alt="">
      <h2>Our Story</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p class="mb-20">idan sans terlahir berkat ide dari istri tercinta yang selalu mendukung untuk melakukan bisnis agar tidak selalu kerja pada perusahaan.
        oleh sebab itu terlahir idan sans. idan sans adalah sebuah restoran pizza yang memiliki banyak rasa.</p>
      </div>
      <div class="col-md-6">
      <p class="mb-20" style="padding-right:60px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet ipsum odio.
        DAenean id tellus ut leo mollis bibendum. Sed sit amet mollis turpis.</p>
      </div>
    </div>
  </div>
</section>

<section class="story-area bg-seller color-white pos-relative">
  <div class="pos-bottom triangle-up"></div>
  <div class="pos-top triangle-bottom"></div>
  <div class="container">
    <div class="heading">
      <img class="heading-img" src="static/images/heading_logo.png" alt="">
      <h2>Best Seller</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="center-text mb-30">
          <div class="img-200x mlr-auto pos-relative">
            <h6 class="ribbon-cont">
              <div class="ribbon-primary"></div>
            </h6>
            <img src="static/images/cheeseburger.png" alt=""/>
          </div>
          <h5 class="mt-20">Pizza CheeseBurger</h5>
          <h4 class="mt-5"><b>Rp 150.000</b></h4>
          <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="center-text mb-30">
          <div class="img-200x mlr-auto pos-relative">
            <h6 class="ribbon-cont">
              <div class="ribbon-primary"></div>
            </h6>
            <img src="static/images/cheeseburger.png" alt=""/>
          </div>
          <h5 class="mt-20">Pizza CheeseBurger</h5>
          <h4 class="mt-5"><b>Rp 150.000</b></h4>
          <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="center-text mb-30">
          <div class="img-200x mlr-auto pos-relative">
            <h6 class="ribbon-cont">
              <div class="ribbon-primary"></div>
            </h6>
            <img src="static/images/cheeseburger.png" alt=""/>
          </div>
          <h5 class="mt-20">Pizza CheeseBurger</h5>
          <h4 class="mt-5"><b>Rp 150.000</b></h4>
          <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="center-text mb-30">
          <div class="img-200x mlr-auto pos-relative">
            <h6 class="ribbon-cont">
              <div class="ribbon-primary"></div>
            </h6>
            <img src="static/images/cheeseburger.png" alt=""/>
          </div>
          <h5 class="mt-20">Pizza CheeseBurger</h5>
          <h4 class="mt-5"><b>Rp 150.000</b></h4>
          <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="center-text mb-30">
          <div class="img-200x mlr-auto pos-relative">
            <h6 class="ribbon-cont">
              <div class="ribbon-primary"></div>
            </h6>
            <img src="static/images/cheeseburger.png" alt=""/>
          </div>
          <h5 class="mt-20">Pizza CheeseBurger</h5>
          <h4 class="mt-5"><b>Rp 150.000</b></h4>
          <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="center-text mb-30">
          <div class="img-200x mlr-auto pos-relative">
            <h6 class="ribbon-cont">
              <div class="ribbon-primary"></div>
            </h6>
            <img src="static/images/cheeseburger.png" alt=""/>
          </div>
          <h5 class="mt-20">Pizza CheeseBurger</h5>
          <h4 class="mt-5"><b>Rp 150.000</b></h4>
          <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="center-text mb-30">
          <div class="img-200x mlr-auto pos-relative">
            <h6 class="ribbon-cont">
              <div class="ribbon-primary"></div>
            </h6>
            <img src="static/images/cheeseburger.png" alt=""/>
          </div>
          <h5 class="mt-20">Pizza CheeseBurger</h5>
          <h4 class="mt-5"><b>Rp 150.000</b></h4>
          <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="center-text mb-30">
          <div class="img-200x mlr-auto pos-relative">
            <h6 class="ribbon-cont">
              <div class="ribbon-primary"></div>
            </h6>
            <img src="static/images/cheeseburger.png" alt=""/>
          </div>
          <h5 class="mt-20">Pizza CheeseBurger</h5>
          <h4 class="mt-5"><b>Rp 150.000</b></h4>
          <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
        </div>
      </div>
    </div>
    <h6 class="center-text mt-40 mt-sm-20 mb-30"><a href="#" class="btn-primaryc plr-25"><b>Lihat Menu Hari Ini</b></a></h6>
  </div>
</section>
<section>
  <div class="container">
    <div class="heading">
      <img class="heading-img" src="static/images/heading_logo.png" alt="">
      <h2>Our Menu</h2>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <ul class="selecton brdr-b-primary mb-70">
          <li><a class="active" href="#" data-select="*"><b>ALL</b></a></li>
          <li><a href="#" data-select="pizza"><b>PIZZA</b></a></li>
          <li><a href="#" data-select="pasta"><b>PASTA</b></a></li>
          <li><a href="#" data-select="appetizer"><b>APPETIZER</b></a></li>
          <li><a href="#" data-select="desert"><b>DESERT</b></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 food-menu pizza">
        <div class="sided-90x mv-30">
          <div class="s-left">
            <img class="br-3" src="static/images/chickenloverz.png" alt="Menu Image"></img>
          </div>
          <div class="s-right">
            <h5 class="mb-10"><b>Pizza Chicken Lovers</b>
            <b class="color-primary float-right">Rp 210.000</b></h5>
            <p class="pr-70">
              Pizza Chicken Lovers adalah pizza yang untuk pecinta chicken lover
            </p>
            <a class="btn-brdr-primary plr-25" href="#"><b>Order</b></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 food-menu pasta">
        <div class="sided-90x mv-30">
          <div class="s-left">
            <img class="br-3" src="static/images/beeflasagna.png" alt="Menu Image"></img>
          </div>
          <div class="s-right">
            <h5 class="mb-10"><b>Beef Lasagna</b>
            <b class="color-primary float-right">Rp 90.000</b></h5>
            <p class="pr-70">
              Beef Lasagna adalah pasta yang terenak yang pernah ada.
            </p>
            <a class="btn-brdr-primary plr-25" href="#"><b>Order</b></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
